.header-dark {
  width: 100%;
  height: 400px;
  background-color: black;
  position: static;
  border-bottom: 10px solid black;
}
.header-menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.kitchenstories.io/wagtailOriginalImages/R1960-photo-final-002/R1960-photo-final-002-large-landscape-150.jpg");
}

.in-body-menu {
  margin: auto;
  width: 60%;
  height: 100vh;
  background-color: rgba(245, 222, 179, 0.466);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tools {
  display: flex;
  justify-content: stretch;
}
